{{>layouts/header}}
<form class="container" action="/user/signup/create" method="post">
    <div class="mb-3">
        <label class="form-label">id</label>
        <input type="text" class="form-control" name="userId">
    </div>
    <div class="mb-3">
        <label class="form-label">password</label>
        <input type="text" class="form-control" name="userPw">
    </div>
    <div class="mb-3">
        <label class="form-label">name</label>
        <input type="text" class="form-control" name="username">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{>layouts/footer}}